@(id: Long, title: String)

@layout.main(title) {
<div id="datos-usuario" class="panel panel-default hidden">
    <div class="panel-heading">
        <h3 class="panel-title">Ver usuario: <span id="title-nombre"></span></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td id="nombre"></td>
                    </tr>
                    <tr>
                        <td>Correo electrónico</td>
                        <td id="correo_electronico"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $.get('/api/usuario/ver/@id', function(r) {
            var datosUsuario = $('#datos-usuario');
            datosUsuario.find('.panel-heading span#title-nombre').text(r.nombre);
            datosUsuario.find('.panel-body table #nombre').text(r.nombre);
            datosUsuario.find('.panel-body table #correo_electronico').text(r.correo_electronico);
            datosUsuario.removeClass('hidden');
        }).fail(function(e) {
            //location.href = `/${e.status}`;
        });
    });
</script>
}